<header>
    <div class="wrapper">
        <div class="left">
            <button class="btn success" id="btnAddTask" onclick="location.href='edit';">New Task</button>
        </div>
        <div class="right">
            <select class="styleSwitcher">
                <option value="dark">Dark</option>
                <option value="Light">Light</option>
            </select>
        </div>
    </div>
</header>