<header>

    <select class="styleSwitcher">
        <option value="dark">Dark</option>
        <option value="Light">Light</option>

    </select>
</header>

<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/handlebars.min.js"></script>

<main>

    <form>
        Title<br>
        <input type="text" name="add title" id="title"><br>
        Description:<br>
        <input type="textfield" name="description"id="description">
        Due Date:<br>
        <input type="date" name="duedate"id="date">


    </form>
    <input type="button" class="btn success" value="Submit" id="createTask"></input>

    <a href="index.html" class="btn danger cancel">Cancel</a>
</main>

