<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>taskR</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
</head>
<body>
{{{body}}}
<script src="javascripts/array.js"></script>
<script src="javascripts/jquery-1.11.3.min.js"></script>
<script src="javascripts/handlebars.min.js"></script>
<script type="module" src="javascripts/data.js"></script>
<script type="module" src="javascripts/model.js"></script>
<script type="module" src="javascripts/tasks.js"></script>
</body>


</html>

